<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movieflix</title>
</head>

<body>
    <!-- Create your text area form here -->
    <form id="MyMovies" action="/myForm" method="POST">
        <label for="moviesList">Enter Movies:</label><br>
        <input type="text" size="40" placeholder="Titles Seperated by Commas" id="movieName" name="movieName"><br>
        <input type="submit" value="Send">
    </form> 
</body>

</html>